<h2>User List</h2>
<button type="button" class="btn btn-success" (click)="openModal(modal)">Create</button>
<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Last</th>
        <th scope="col">First</th>
        <th scope="col">Email</th>
        <th scope="col">Username</th>
        <th scope="col">Last Login</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users; index as indexOfElement;">
        <th scope="row">{{indexOfElement + 1}}</th>
        <td>{{user.lastname}}</td>
        <td>{{user.firstname}}</td>
        <td>{{user.email}}</td>
        <td>{{user.username}}</td>
        <td>
          <div *ngIf="user.lastlogin === null || user.lastlogin === undefined ; else elseBlock">User has yet to logged in</div>
          <ng-template #elseBlock>{{user.lastlogin}}</ng-template>
        </td>
        <td>
          <!--<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editUserModal" (click)="selectUser(user)">Edit</button>-->
          <!-- <button type="button" class="btn btn-primary" (click)="open(editUserModal)">Edit</button> -->
          <button type="button" class="btn btn-primary" (click)="openModal(modal, user)">Edit</button>
          <button type="button" class="btn btn-danger m-1" (click)="openDeleteConfirmationModal(deleteConfirmationModal, user.id)">Delete</button>
        </td>
      </tr>
    </tbody>
</table>

<!-- Modal -->
<ng-template #modal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{ selectedUser ? 'Edit User' : 'Add User' }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="userForm" (ngSubmit)="saveUser(userForm.value)">
      <div class="form-group">
        <label for="firstname">First Name</label>
        <input type="text" class="form-control" id="firstname" formControlName="firstname" autocomplete="off" required>
        <div *ngIf="userForm.controls['firstname'].invalid && userForm.controls['firstname'].touched" class="text-danger">
          First name is required.
        </div>
      </div>
      <div class="form-group">
        <label for="middlename">Middle Name</label>
        <input type="text" class="form-control" id="middlename" formControlName="middlename" autocomplete="off">
      </div>
      <div class="form-group">
        <label for="lastname">Last Name</label>
        <input type="text" class="form-control" id="lastname" formControlName="lastname" autocomplete="off" required>
        <div *ngIf="userForm.controls['lastname'].invalid && userForm.controls['lastname'].touched" class="text-danger">
          Last name is required.
        </div>
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" formControlName="email" autocomplete="off" required>
        <div *ngIf="userForm.controls['email'].invalid && userForm.controls['email'].touched" class="text-danger">
          Email is required.
        </div>
      </div>
      <div class="form-group" *ngIf="!selectedUser">
        <label for="username">Username</label>
        <input type="text" class="form-control" id="username" formControlName="username" autocomplete="off" required>
        <div *ngIf="userForm.controls['username'].invalid && userForm.controls['username'].touched" class="text-danger">
          Username is required.
        </div>
      </div>
      <div class="form-group" *ngIf="!selectedUser">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" formControlName="password" autocomplete="off" required>
        <div *ngIf="userForm.controls['password'].invalid && userForm.controls['password'].touched" class="text-danger">
          Password is required.
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Save</button>
    </form>
  </div>
</ng-template>

<!-- Delete Confirmation Modal -->
<ng-template #deleteConfirmationModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Confirm Delete</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Are you sure you want to delete this user?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.dismiss()">Cancel</button>
    <button type="button" class="btn btn-danger" (click)="deleteUser()">Delete</button>
  </div>
</ng-template>