<div class="container mt-10">
  <section class="w-100 p-4 d-flex justify-content-center pb-4">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="form-outline mb-4">
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" class="form-control" id="email" formControlName="email">
          <div *ngIf="submitted && loginForm.controls['email'].errors" class="text-danger">
            <div *ngIf="loginForm.controls['email'].errors['required']">Email is required</div>
            <div *ngIf="loginForm.controls['email'].errors['email']">Invalid email address</div>
          </div>
        </div>
      </div>
      <div class="form-outline mb-4">
        <div class="form-group ">
          <label for="password">Password</label>
          <input type="password" class="form-control" id="password" formControlName="password">
          <div *ngIf="submitted && loginForm.controls['password'].errors" class="text-danger">
            <div *ngIf="loginForm.controls['password'].errors['required']">Password is required</div>
          </div>
        </div>
      </div>
      <button type="submit" class="btn btn-primary btn-block mb-4">Login</button>
      <div *ngIf="loginError" class="text-danger mt-3">Invalid credentials. Please try again.</div>
    </form>
  </section>
</div>
