<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <h1>Point of Sale</h1>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Dashboard</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Users
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" routerLink="/users" routerLinkActive="active" ariaCurrentWhenActive="page">List</a></li>
            <li><a class="dropdown-item" href="#">Logs</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Products
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" routerLink="/products" routerLinkActive="active" ariaCurrentWhenActive="page">Product List</a></li>
            <li><a class="dropdown-item" routerLink="/product-items" routerLinkActive="active" ariaCurrentWhenActive="page">Product Item List</a></li>
            <li><a class="dropdown-item" routerLink="/product-categories" routerLinkActive="active" ariaCurrentWhenActive="page">Categories</a></li>
          </ul> 
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Sales Report
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" routerLink="/sales" routerLinkActive="active" ariaCurrentWhenActive="page">Sales List</a></li>
            <!--<li><a class="dropdown-item" routerLink="/sale-items" routerLinkActive="active" ariaCurrentWhenActive="page">Sale Item List</a></li>-->
          </ul> 
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" (click)="logout()">Logout</a>
        </li>
        <!-- <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Reports
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Sort by Date</a></li>
            <li><a class="dropdown-item" href="#">Sort by Product</a></li>
            <li><a class="dropdown-item" href="#">Sort by User</a></li>
          </ul>
        </li>
      -->
      </ul>
    </div>
  </div>
</nav>
<div class="container">
  <!-- <app-users></app-users> -->
  <router-outlet></router-outlet>
  <!-- <app-sale-form></app-sale-form> -->
</div>